/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * by Stephan Raabe (2023)
 * -----------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Pywal colors
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

@define-color backgroundlight #000000;
@define-color backgrounddark #000000;
@define-color workspacesbackground1 #000000;
@define-color workspacesbackground2 #222222;
@define-color bordercolor #000000;
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #000000;
@define-color iconcolor #FFFFFF;
/*@define-color iconcolor #000000;*/

* {
	font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	border: none;
	border-radius: 0px;
}

window#waybar {
	/*background-color: rgba(0,0,0,0.2);*/
	/*background-color: rgba(255,255,255,0.1);*/
	background-color: transparent;
	border-bottom: 0px solid #ffffff;
	/* color: #FFFFFF; */
	transition-property: background-color;
	transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
	background: @workspacesbackground1;
	margin: 5px 4px 6px 4px;
	padding: 0px 1px;
	border-radius: 15px;
	border: 0px;
	font-weight: bold;
	font-style: normal;
	opacity: 0.8;
	font-size: 14px;
	color: @textcolor1;
}

#workspaces button {
	padding: 0px 5px;
	margin: 4px 3px;
	border-radius: 15px;
	border: 0px;
	color: @textcolor1;
	background-color: @workspacesbackground2;
	transition: all 0.3s ease-in-out;
	opacity: 0.4;
}

#workspaces button.active {
	color: @textcolor1;
	background: @workspacesbackground2;
	border-radius: 15px;
	min-width: 40px;
	transition: all 0.3s ease-in-out;
	opacity: 1;
}

#workspaces button:hover {
	color: @textcolor1;
	background: @workspacesbackground2;
	border-radius: 15px;
	opacity: 0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
	border-radius: 10px;
	background-color: @backgroundlight;
	opacity: 0.8;
	padding: 20px;
	margin: 0px;
}

tooltip label {
	color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
	background: @backgroundlight;
	margin: 5px 4px 6px 4px;
	padding: 2px 10px 0px 10px;
	border-radius: 10px;
	color: @textcolor2;
	font-size: 14px;
	font-weight: normal;
	opacity: 0.7;
}

window#waybar.empty {
	background-color: transparent;
}

window#waybar.empty #window {
	background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
	background: @backgroundlight;
	margin: 6px 15px 6px 0px;
	padding: 0px;
	border-radius: 10px;
	font-weight: normal;
	font-style: normal;
	opacity: 0.8;
	border: 3px solid @backgroundlight;
}

#taskbar button {
	margin: 0;
	border-radius: 15px;
	padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave,
#custom-browser,
#custom-keybindings,
#custom-outlook,
#custom-filemanager,
#custom-teams,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm,
#custom-cliphist,
#custom-wallpaper,
#custom-settings,
#custom-wallpaper,
#custom-system,
#custom-hyprshade,
#custom-hypridle,
#custom-waybarthemes {
	margin-right: 23px;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
	color: @iconcolor;
}

#custom-hyprshade {
	margin-right: 12px;
}

#custom-hypridle {
	margin-right: 18px;
}

#custom-hypridle.active {
	color: @iconcolor;
}

#custom-hypridle.notactive {
	color: #dc2f2f;
}

#custom-system {
	margin-right: 15px;
}

#custom-wallpaper {
	margin-right: 25px;
}

#custom-waybarthemes,
#custom-settings {
	margin-right: 20px;
}

#custom-ml4w-welcome {
	margin-right: 12px;
	background-image: url("../assets/ml4w-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-right: 24px;
}

#custom-ml4w-hyprland-settings {
	margin-right: 12px;
	background-image: url("../assets/hyprland-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-right: 16px;
}

#custom-chatgpt {
	margin-right: 12px;
	background-image: url("../assets/ai-icon-20.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-right: 24px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
	margin-right: 17px;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
	color: @iconcolor;
}

#idle_inhibitor.activated {
	margin-right: 15px;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
	color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	margin: 5px 14px 6px 14px;
	opacity: 0.7;
	border: 3px solid @bordercolor;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
	/*margin: 0px 20px 0px 0px;*/
	/*padding:0px;*/
	/*font-size:14px;*/
	/*color: @iconcolor;*/

	background-color: #3c0008;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 0px 15px 0px 10px;
	margin: 5px 4px 6px 4px;
	opacity: 0.8;
	border: 3px solid @bordercolor;
	transition-duration: 0.5s;
}

#custom-exit:hover {
	color: @textcolor1;
	background: red;
	border-radius: 15px;
	opacity: 0.7;
	transition-duration: 0.5s;
}
/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
	background-color: @backgroundlight;
	font-size: 14px;
	color: @textcolor2;
	border-radius: 10px;
	padding: 2px 10px 0px 10px;
	margin: 8px 15px 8px 0px;
	opacity: 0.8;
}

#custom-updates.green {
	background-color: @backgroundlight;
}

#custom-updates.yellow {
	background-color: #ff9a3c;
	color: #ffffff;
}

#custom-updates.red {
	background-color: #dc2f2f;
	color: #ffffff;
}

#custom-pomodoro {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	margin: 5px 4px 6px 4px;
	opacity: 0.7;
	transition-duration: 0.5s;
}

#custom-pomodoro.break {
    background-color: #D91656;
}

#custom-pomodoro.work {
    /*background-color: #243642;*/
    background-color: #433878;
}

#custom-spotify {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 2px 10px 0px 10px;
	margin: 5px 4px 6px 4px;
	opacity: 0.7;
	transition-duration: 0.5s;
}
/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
	background-color: @backgroundlight;
	font-size: 14px;
	color: @textcolor2;
	border-radius: 15px;
	padding: 2px 10px 0px 10px;
	margin: 8px 15px 8px 0px;
	opacity: 0.8;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#hardware {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 2px 0px 0px 20px;
	margin: 5px 4px 6px 15px;
	opacity: 0.7;
	/*border:3px solid @bordercolor;*/
}

#disk,
#memory,
#cpu,
#temperature,
#language {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: @textcolor1;
}

#cpu {
	margin-left: -10px;
	margin-right: 10px;
}
#memory {
	margin-left: 5px;
	margin-right: 5px;
}
#temperature {
	margin-left: 10px;
	margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 1px 10px 0px 10px;
	margin: 5px 15px 6px 4px;
	opacity: 0.7;
	border: 3px solid @bordercolor;
	transition-duration: 0.5s;
}

#clock:hover {
	background-color: #001426;
	transition-duration: 0.5s;
	border-radius: 15px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
	background-color: @backgroundlight;
	font-size: 14px;
	color: @textcolor2;
	border-radius: 10px;
	padding: 2px 10px 0px 10px;
	margin: 5px 4px 6px 4px;
	opacity: 0.7;
	transition-duration: 0.5s;
}

#pulseaudio.muted {
	background-color: @backgrounddark;
	color: @textcolor1;
}

#pulseaudio:hover {
	background-color: #001426;
	transition-duration: 0.5s;
	border-radius: 15px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
	background-color: @backgroundlight;
	font-size: 14px;
	color: @textcolor2;
	border-radius: 10px;
	padding: 2px 8px 0px 8px;
	margin: 5px 0px 6px 0px;
	/*opacity:0.7;*/
}

#network.ethernet {
	background-color: @backgroundlight;
	color: @textcolor2;
}

#network.wifi {
	background-color: @backgroundlight;
	color: @textcolor2;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
	background-color: @backgroundlight;
	font-size: 14px;
	color: @textcolor2;
	border-radius: 10px;
	padding: 2px 8px 0px 8px;
	margin: 5px 0px 6px 0px;
	/*opacity:0.7;*/
}

#bluetooth.off {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
	background-color: @backgroundlight;
	font-size: 14px;
	color: @textcolor2;
	border-radius: 10px;
	padding: 2px 8px 0px 8px;
	margin: 5px 0px 6px 0px;
	/*opacity:0.7;*/
}

#battery.charging {
	color: @textcolor2;
	background-color: #005c53;
    border-radius: 6px;
}

#battery.plugged {
	color: @textcolor2;
	background-color: #003c5c;
    border-radius: 6px;
}

@keyframes blink {
	to {
		background-color: @backgroundlight;
		color: @textcolor2;
	}
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: @textcolor1;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    border-radius: 6px;
}

#laptop {
	background-color: @backgroundlight;
	font-size: 14px;
	/*color: white;*/
	border-radius: 10px;
	padding: 0px 5px 0px 5px;
	margin: 5px 4px 6px 4px;
	opacity: 0.7;
}

#custom-updater {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	margin: 5px 4px 6px 4px;
	opacity: 0.7;
	transition-duration: 0.5s;
}

#custom-updater:hover {
	background-color: #001426;
	transition-duration: 0.5s;
	border-radius: 15px;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
	background-color: @backgrounddark;
	font-size: 14px;
	color: @textcolor1;
	border-radius: 15px;
	padding: 0px 5px 0px 5px;
	margin: 5px 4px 6px 4px;
	opacity: 0.7;
	border: 3px solid @bordercolor;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}
